*{
	margin: 0px;
	padding: 0px;
}
body
{	
	font-family: verdana;
	color: #000000;	
        background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
        background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
        background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
        background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
        background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
        
}

#wrapper
{
	width: 1024px;
	height:auto;
	margin: 3px auto;
	position:relative;
	
}

#header 
{
	height: 100px;
	width:100%;
	margin: 0px;
	padding: 0px;
	float: left;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #1e5799 54%, #7db9e8 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(54%,#1e5799), color-stop(99%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #1e5799 54%,#7db9e8 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #1e5799 54%,#7db9e8 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #1e5799 54%,#7db9e8 99%); /* IE10+ */
	background: linear-gradient(45deg,  #1e5799 54%,#7db9e8 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
}

a {
	text-decoration: none;	
	color: #fff;
}

ul{
	list-style: none;
	color: #000;
}
#header .logo
{
	float:left;
	color: #fff;
	position: absolute;
	margin-top: 40px;
	padding: 12px;
	font-weight:bold;	
	font-size: 20px;
}

#menu_div{
	float:left;	
	height:auto;
	width:auto;	
	margin-left: 155px;
	margin-top: 45px;
	color: #fff;
	
}
#menu_div ul{	
	width: auto;
	position: absolute;
	list-style:none;	
	padding: 0;
	margin: 0; 
	font-size: 17px;
}
#menu_div ul li{
	float: left;	
	width:  150px;	
	margin-left: auto;
	margin-right: auto;
}
#menu_div ul li a{
	display: block;
	text-decoration:none;
	color: #fff;
	padding: 10px 20px;
}
#menu_div ul li a:hover{	
	color: #fff;
	text-shadow: 0px 1px 0px #000;
}

#menu_div ul li ul{
	list-style: none;
	background-color: #fff;
	width: 148px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	display: none;
	font-size: 13px;
	
}

#menu_div ul li ul:hover{
	border: 1px solid #ece6e8;
	border-bottom: 3px solid #d9ced2;
}

#menu_div ul li ul li {
	width: 100%;
	float: none;	
}

#menu_div ul li:hover ul {
	display:block;
	position:absolute;
	z-index: 100;
}

#menu_div ul li ul li a{
	display: block;
	text-decoration:none;
	color: #000;
	padding: 5px 24px;
	font-size: 13px
	background: #1e5799;
}

#menu_div ul li ul li a:hover{
	background: #1e5799;
}


.headings
{
	color: #fff;
	background-color: #006600;
	font-size: 15px;
	padding:1px;	
	width: 200px;
}

#wrapper_content{
	
	font-size:15px;
	width:100%;
	margin:0px;
	box-shadow: 0px 1px 1px 1px #e8e8e8;
	
}

#content_hor1
{	
	float:left;
	position:relative;
	padding: 2px 0px;
	margin-top:	3px;	
	box-shadow: 0px 1px 1px 1px #e8e8e8;
	width: 100%;
	height: auto;	
	color: #000;
	background: #fff;
	font-size: 14px;
}

#content_hor1 a
{		
	color: #000;
}

#content_hor1 a:hover
{		
	color: #d80041;
}

#footer
{	position:relative;
	float:left;
	margin-top:1px;
	font-size:9px;
	height:50px;
	width: 100%;
	border-top: 1px solid #ccc;
        padding-top: 25px;

		
}

table, tr, td { border-collapse: collapse; vertical-align: top; font-size: 13px; line-height: 15px;}

#structure { height: 450px; width: 100%; }

ul.subjects { padding-left: 0; list-style: none; }
ul.pages { padding-left: 2em; list-style: square; }

#page { padding-left: 2em; vertical-align: top; background: #E6E8ED; }
#page h2 { color: #8D0D19; margin: 1em 0em; }
#page h3 { color: #8D0D19; margin: 1em 0em; }
#page a { color: #8D0D19; }

#navigation { width: 150px; padding: 1em 2em; }
#navigation a { text-decoration: none; }


